.bg-tabs {
  background-color: #0084f8;
}

.selectedLabel {
  border-bottom: 3px solid #00d67c;
}

.nav-link {
  color: #000000 !important;
  margin-right: 15px;
  border-radius: 6px;
}

.navBar {
  background-color: #fff !important;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2);
  height: 50px;
  padding: 35px 20px;
}

.navButton {
  color: #000000;
  margin-right: 10px;
  border: 1px solid;
  border-radius: 6px;
}
